
@-webkit-keyframes movimiento-diagonal {
   from {
      left: 0px;
   }
   
   to {
      left: 200px;
   }
}


#anim {
   -webkit-animation-name: movimiento-diagonal;
   -webkit-animation-duration: 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
   width: 100px;
   background-color: green;
   color: #fff;
   position: relative; 
   padding: 2px;
}
#anim:hover{
	color: yellow;
}
#i {
 position: relative;
 animation: botar 3s 250ms normal;
 -webkit-animation:botar 3s 250ms normal;
 -moz-animation:botar 3s 250ms normal;
 -ms-animation:botar 3s 250ms normal;
 -o-animation:botar 3s 250ms normal; 
 -webkit-animation-iteration-count: infinite;
}
@keyframes botar{
 0% {top:auto; animation-timing-function:ease-in;}
 30% {top:200px; animation-timing-function:ease-out;}
 45% {top:100px; animation-timing-function:ease-in;}
 60% {top:200px; animation-timing-function:ease-out;}
 68% {top:150px; animation-timing-function:ease-in;}
 76% {top:200px; animation-timing-function:ease-out;}
 80% {top:175px; animation-timing-function:ease-in;}
 84% {top:200px; animation-timing-function:ease-out;}
 86% {top:188px; animation-timing-function:ease-in;}
 88% {top:200px; animation-timing-function:ease-out;}
 87% {top:194px; animation-timing-function:ease-in;}
 88% {top:200px; animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-webkit-keyframes botar{
 0% {top:auto; -webkit-animation-timing-function:ease-in;}
 30% {top:200px; -webkit-animation-timing-function:ease-out;}
 45% {top:100px; -webkit-animation-timing-function:ease-in;}
 60% {top:200px; -webkit-animation-timing-function:ease-out;}
 68% {top:150px; -webkit-animation-timing-function:ease-in;}
 76% {top:200px; -webkit-animation-timing-function:ease-out;}
 80% {top:175px; -webkit-animation-timing-function:ease-in;}
 84% {top:200px; -webkit-animation-timing-function:ease-out;}
 86% {top:188px; -webkit-animation-timing-function:ease-in;}
 88% {top:200px; -webkit-animation-timing-function:ease-out;}
 87% {top:194px; -webkit-animation-timing-function:ease-in;}
 88% {top:200px; -webkit-animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-moz-keyframes botar{
 0% {top:auto; -moz-animation-timing-function:ease-in;}
 30% {top:200px; -moz-animation-timing-function:ease-out;}
 45% {top:100px; -moz-animation-timing-function:ease-in;}
 60% {top:200px; -moz-animation-timing-function:ease-out;}
 68% {top:150px; -moz-animation-timing-function:ease-in;}
 76% {top:200px; -moz-animation-timing-function:ease-out;}
 80% {top:175px; -moz-animation-timing-function:ease-in;}
 84% {top:200px; -moz-animation-timing-function:ease-out;}
 86% {top:188px; -moz-animation-timing-function:ease-in;}
 88% {top:200px; -moz-animation-timing-function:ease-out;}
 87% {top:194px; -moz-animation-timing-function:ease-in;}
 88% {top:200px; -moz-animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-o-keyframes botar{
 0% {top:auto; -o-animation-timing-function:ease-in;}
 30% {top:200px; -o-animation-timing-function:ease-out;}
 45% {top:100px; -o-animation-timing-function:ease-in;}
 60% {top:200px; -o-animation-timing-function:ease-out;}
 68% {top:150px; -o-animation-timing-function:ease-in;}
 76% {top:200px; -o-animation-timing-function:ease-out;}
 80% {top:175px; -o-animation-timing-function:ease-in;}
 84% {top:200px; -o-animation-timing-function:ease-out;}
 86% {top:188px; -o-animation-timing-function:ease-in;}
 88% {top:200px; -o-animation-timing-function:ease-out;}
 87% {top:194px; -o-animation-timing-function:ease-in;}
 88% {top:200px; -o-animation-timing-function:ease-out;}
 100% {top:200px;}
}